{% extends 'layout.html' %}

{% block body %}

{% for product in cart %}

<ul>
	<li> <b> Product name</b>: {{ product['pname'] }} </li>
	<li> <b> Product price</b>: {{ product['pprice'] }}</li>
	<li> <b> Product description</b>:{{ product['pdescription'] }} </li>
	<li> <b> Product seller</b>: {{ product['sellername'] }}</li>


</ul>


<form action="/remove_cart" method="POST">
	<input type="hidden" name="pname" value="{{product['pname']}}">
	<input type="submit" value="remove from cart">
	
</form>

{% endfor %}

<p><b>total is {{total}}</b></p>

{% endblock body %}